{% extends "base.html" %}
{% block page_content %}
{% for A in about %}
<div class="container">
  <div class="row align-items-center">
    <div class="col text-center">
      <h1 class="parallax">Hey, I'm Kai</h1>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col text-center">
      <img class="img-fluid" id="portrait" src="{{ A.image.url }}" alt="portait">
    </div>
    <div class="col">
      {{ A.description }}
    </div>
  </div>
</div>


{% endfor %}
{% endblock %}