<!DOCTYPE html>
<html>
  <head>
    <!-- Bootstrap Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <!-- Bootstrap and Font CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"> 
  </head>
  
  <body class="d-flex flex-column min-vh-100">
    <header>
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'about_page' %}">
            <h1>Kai Lu</h1>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about_page' %}">
                  <h3>About</h3>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'project_index' %}">
                  <h3>Projects</h3>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://drive.google.com/file/d/19npEixzHjurtku7kmlQMQwOxwrDilwVJ/view?usp=sharing" target="_blank">
                  <h3>Resume</h3>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
  
    <div class="container">
      {% block page_content %}{% endblock %}
    </div>
  
    <div class="wrapper flex-grow-1"></div>
    <footer>
      <div class="container">
        <div class="row text-center">
          <div class="col-12">
            <h2>Let's Connect</h2>
          </div>
          <div class="col">
            <a href="https://www.linkedin.com/in/kai-lu-4017bb166/">
              <i class="fab fa-linkedin fa-5x p-4"></i>
            </a>
            <a href="mailto:kaisiulu@gmail.com">
              <i class="fas fa-envelope fa-5x p-4"></i>
            </a>
            <a href="https://github.com/LuK413">
              <i class="fab fa-github-square fa-5x p-4"></i>
            </a>
          </div>
        </div>
      </div>
    </footer>
  
  
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
